
body {
margin: 0;
font-family: Arial, sans-serif;
background-color: #f4f6f9;
}
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom, #8360c3, #2ebf91);
    color: white;
    padding-top: 20px;
    border-radius: 15px;
    z-index: 1000;
    left: 0;
    top: 0;
    transition: 0.5s;
    overflow: hidden;
}

.sidebar a{
display: block;
color: #ffffff;
padding: 12px 20px;
text-decoration: none;
}
.sidebar a:hover{
background: linear-gradient(to right, #6442a1, rgb(220, 165, 225));
color: white;
border-radius: 4px;
}
.sidebar :hover{
    transform: scale(1.05);
}
.sidebar h4{
text-align: center;
margin-bottom: 20px;
}
.main{
margin-left: 250px;
padding: 20px;
min-height: 100vh;
}
.topbar{
background: linear-gradient(to right, #8360c3, #2ebf91);
/*background: linear-gradient(to bottom, #3f2b96, #a8c0ff);*/
border-radius: 15px;
padding: 15px 20px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
margin-bottom: 20px;
}
.card-box
{
background: white;
padding: 20px;
border-radius: 10px
;
box-shadow:
0 2px 5px rgba(0,0,0,0.1);
text-align: left;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: "Poppins";
}

.bg-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('../images/bg2.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: rgba(255, 255, 255, 0.85); 
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #221412 ;
    font-family: "Bungee";
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.subtitle {
    color: #3e2723;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.role {
    color: #3e2723; 
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
}

.input-container input {
    width: 100%;
    padding: 12px 15px 12px 45px;
    border: 1px solid #ddd;
    border-radius: 30px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.7);
    outline: none;
    transition: 0.3s;
}

.input-container input:focus {
    border-color: #7d52be;
    background: white;
}

.button-group {
    display: flex;
    gap: 15px;
}

button {
    flex: 1;
    padding: 12px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.btn-back {
    background-color: #d7ccc8;
    color: #3e2723;
}

.btn-signin {
    background-color: #5d4037; 
    color: #f5ebe0;
    border: 1px solid #3e2723;
}

button:hover.btn-signin {
    background-color: #795548;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

button:hover {
    transform: translateY(-2px);
    filter: brightness(1.1);
}

.login-card {
    background:rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 40px;
    border-radius: 25px;
    text-align: center;
}

.error-text {
    color: #e74c3c;
    font-size: 0.9rem;
    margin-top: 20px;
    font-weight: 600;
}
body {
            background-color: #F0F2F5;
        }

        .header {
            background-color: #fff;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .welcome {
            font-size: 18px;
            color: #333;
        }

        .card-icon {
            font-size: 40px;
            color: #333;
            margin-bottom: 10px;
        }

        .footer {
            background-color: #fff;
            padding: 20px;
            text-align: center;
        }
.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 100%;
}
.card {
    position: relative;
    overflow: hidden;  
    padding: 30px 20px;
    border-radius: 12px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 160px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    z-index: 1; 
}

.card::before {
    content: '';
    position: absolute;
    pointer-events: none;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(0deg,
                transparent,
                transparent 40%,
                rgba(0, 255, 255, 0.3));
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    z-index: -1; 
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.card:hover::before {
    opacity: 1;
    transform: translate(25%, 25%); 
}

.card-icon {
    font-size: 35px;
    margin-bottom: 10px;
    opacity: 0.8;
   /* color: #415A77;*/
   color: #000C40;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.card a{
    text-decoration: none;
}


.footer {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    color: #666;
    font-weight: 500;
}

.stat-card {
    background: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: none;
    transition: transform 0.3s ease;
}

.stat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #444;
    margin-bottom: 12px;
}

.stat-number {
    font-size: 1.2rem;
    color: #222;
}

.progress-container {
    height: 8px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    border-radius: 10px;
}

.table thead th {
    background-color: #1D2B64;
    color: #ffffff;
    font-weight: 500;
    padding: 15px;

}

.table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
}

.text-available {
    color: #06402B;
    font-weight: bold;
}

.text-borrowed {
    color: #950606; 
    font-weight: bold;
}

.table td {
    vertical-align: middle; 
    padding: 12px 15px;             
}

.table-responsive {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

@media (max-width: 992px) {
    .dashboard { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 768px) {
    .sidebar { display: none; }
    .main { margin-left: 0; }
    .dashboard { grid-template-columns: 1fr; }
}

